<% provide(:title, "Contact") %>
<div class="center jumbotron">

  <h1> Contact Abdullah </h1>

  <%= image_tag "contactpic.jpg", class: "contactpic" %> <br>
  <a href="<%= twitter %>" target="_blank" onkeyup=""class="fa fa-twitter"></a>
  <a href="<%= linkedin %>" target="_blank" class="fa fa-linkedin"></a>
  <a href="<%= github %>" target="_blank" class="fa fa-github"></a>
  <a href="mailto: abdullah.a.faraj@gmail.com" target="_blank" class="fa fa-google"></a>




</div>
