<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Service Ordering System</h1> <br>

  <%= image_tag "homepic.jpg", class: "homepic" %>

  <h2>
    To start using our website, we need to get your location first !
  </h2>
  <h2> if you don't know what our website is for, please visit the
    <a href="/about"> about page </a>.
    If you do, make sure you're <a href="/login"> <span style="color: red; text-style: bold;"> logged in </span> </a> and press the button below.
  </h2><br>

  <%= link_to "Find My Location", findLocation_path, class: "btn btn-primary" if(logged_in?) %>

</div>
