<footer class="footer">
  <small>
    This web application has been developed by <%= link_to "Abdullah Faraj", 'https://www.linkedin.com/in/abdullah-faraj-a7a768104/', target: :_blank %>
  </small>
  <nav>
    <ul>

    </ul>
  </nav>
</footer>
